# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: no-commit-to-branch
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-xml
    -   id: debug-statements
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.4
  hooks:
    # Run the linter.
    - id: ruff-check
      args: ["--fix"]
